.options{
    display:inline-block;
    margin-right: 20px;
    padding: 24px 12px;
    font-size:14px;
    color:rgb(155, 155, 155);
}
.floatImg{
    float:left;
    margin-left: 40px;
    margin-top: 7px;
}
.options:hover {
    background-color: lightblue;
    animation-name: background-animation;
    color:white;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}
@keyframes background-animation {
    from {
        background-color:white;
   }
    to {
        background-color: lightblue;
   }
}
header{
    margin: 0 auto;
    
}
.container{
    background-color:white;
    position:absolute;
    width:56%;
    left:22%;
    top:4%;
    text-align: center;
    border: 1px solid rgb(177, 177, 177);
}
*,a{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.selo{
    position:absolute;
    right:15%;
}
footer{
    line-height: 100px;
    text-align: center;
}
img {
    display: block;
    padding: 0;
    margin: 0 auto;
}
.datails{
    background-color:#f2f2f2 ;
    padding:5px;
}
.datails2{
    background-color:#ffffff ;
    padding:5px;
}
strong{
    margin-right:5px;
}
.textReview{
    height: 130px;
    width:100%;
    background-color: #f2f2f2;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(238, 238, 238);
}
.optionsImage{
    display:inline-block;
    margin-left: 35px;
    margin-top: 60px;
}
.optionsReference{
    margin-left: 380px;
}
.ImageReview{
    margin-top:100px;
    height: 230px;
    width:100%;
    background-color: #f2f2f2;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
}
.ImageReview2{
    margin-top:100px;
    height: 320px;
    width:100%;
    background-color: #f2f2f2;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
}
.optionsReference2{
    margin-left:0;
}
.optionsImage2{
    display:inline-block;
    margin-left: 35px;
    margin-top: 10px;
}
