/* Header */
header {
    margin: 0 auto;
}

nav > img {
width: 10%;
float: left;
padding-left: 4%;
padding-top: 1%;
padding-right: 5%;
}

.options {
display: inline-block;
margin-right: 20px;
padding: 24px 12px;
font-size: 0.9rem;
color: rgb(122, 122, 122);
font-family: "Exo 2", sans-serif;
transition: ease-in-out 0.3s;
}

.floatImg {
float: left;
margin-left: 1%;
margin-top: 5px;
}

.options:hover {
background-color: lightblue;
animation-name: background-animation;
color: white;
animation-duration: 0.5s;
animation-timing-function: ease-out;
cursor:pointer;
border-radius: 1rem;
height: 1rem;
}

.menu {
background-color: white;
position: absolute;
width: 56%;
left: 22%;
top: 4%;
text-align: center;
border: 1px solid rgb(177, 177, 177);
border-radius: 1rem;
}

/* Information */
body {
margin: 0;
}

.info {
display: flex;
justify-content: center;
align-items: center;
height: 120px;
background: #ececec;
}

.info img {
margin-left: 5%;
}

p {
color: rgb(70, 70, 70);
font-family: "Open Sans", sans-serif;
}

.container {
display: flex;
margin-left: 20%;
margin-right: 20%;
}

.coluna {
flex: 1;
display: flex;
justify-content: center;
}

.coluna img {
width: 100%;
height: auto;
}

.conteudo {
margin-top: 5%;
text-align: center;
transition: ease-in-out 0.3s;
}

.conteudo:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.container:nth-of-type(2) .conteudo p {
line-height: 18px;
text-align: left;
padding-left: 2%;
background: e4f3ff;
margin-top: 0px;
}

.container:nth-of-type(3) {
background: #3d3b3b;
margin-top: 4%;
margin-left: 0%;
margin-right: 0%;
padding-left: 20%;
padding-right: 20%;
padding-bottom: 1%;
gap: 2%;
}

.conteudo p {
background-color: #ffffff;
margin-top: 0px;
text-align: center;
font-size: 14px;
color: #4e4e4e;
line-height: 20px;
}

/* Footer */
footer {
display: flex;
bottom: 0;
justify-content: center;
align-items: center;
height: 100px;
}

span {
color: rgb(0, 132, 255);
font-size: 18px;
font-weight: bold;
}
